<h1> <%= @program.title %> </h1>
<h3> Category: <%= @program.category.cat %> </h3>
<p> Description: <%= @program.description %> </p>
<p> Number of Seats: <%= @program.num_of_seats %> </p>

<%= link_to("Join Program", edit_program_path(@program)) %> <br>
<%= link_to("Edit Program", edit_program_path(@program)) %>
<%= link_to("Delete Program", program_path(@program), method:"delete") %>