<h1>Register here!</h1>

<%= form_for(@user) do |f| %>
    <label>Username:</label><br>
    <%= f.text_field :username %><br>
  
    <label>email:</label><br>
    <%= f.text_field :email %><br>

    <label>Password:</label><br>
    <%= f.text_field :password %><br>
  
    <%= f.submit %>
<% end %> 
