<!DOCTYPE html>
<html>
  <head>
    <title>ClassWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:current_user_id] %>
      <%= link_to "Your Page", "/users/:id" %>
      <%= link_to "Create Program", "/programs/new" %> 
      <%= link_to "Categories", "/categories" %>
      <%= link_to "Logout", logout_path, method:"destroy"%>
    <% end %>   
      
        <%= yield %>
  </body>
</html>
